.header {
  position: relative;
  z-index: 9;
}

.top-nav {
  background: #005f90;
}

.show-on-scroll {
  display: none;
}

.countdown {
  display: table;
  color: $white;
  float: right;
  > div {
    display: table-cell;
    padding: 0 10px;
    vertical-align: middle;
    font-family: 'ProximaLight',"Helvetica Neue",Helvetica,Arial,sans-serif;

  }
  .text-center {
    border-left: 1px solid $white;
    > span {
      display: block;
      font-size: 1.5714285714em;
      line-height: .8;
      font-family: 'ProximaBold',"Helvetica Neue",Helvetica,Arial,sans-serif;

    }
  }
}

.event-name {
  float: left;
  margin: 0;
  color: $brand-primary;
  font-size: em(28);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1;
  .event-name__ex {
    display: block;
    color: $brand-primary-inverse;
    font-size: em(14,30);
  }
}

@media (min-width: $screen-md-min) {
 
}

/** Mobile **/

@media (max-width: $screen-sm-max) {
  .countdown {
    margin-top: 10px;
    font-size: 0.5714285714em;
    display: inline-block;
    float: inherit;
  }
}