
.post-item {
  position: relative;
  margin-bottom: 20px;
  .post-item__category-text {
    position: absolute;
    max-width: 100%;
    padding: 10px 30px;
    top: 10px;
    left: 50%;
    background: rgba($brand-primary, .5);
    color: $white;
    font-size: em(16);
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    transform: translateX(-50%);
    z-index: 1;
  }
  &.post-item--horizontal {
    .post-item__info {
      padding-top: 0;
    }
  }
  &.post-item--slide {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 70%;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .post-item__icon {
    display: inline-block;
    margin-left: 5px;
    color: $green;
  }
  
  .post-item__thumb {
    position: relative;
    display: block;
    margin-bottom: 5px;
    border-radius: 10px;
    overflow: hidden;
    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: $white;
      opacity: 0;
      transition: opacity .5s ease-out;
    }
  }
  &:hover {
    .post-item__thumb {
      &:after {
        opacity: .5;
      }
    }
  }
  .post-item__title {
    display: block;
    color: $dark;
    font-size: em(16);
    font-weight: 700;
    &:hover {
      color: $brand-primary;
    }
  }
  .post-item__detail {
    margin-top: 6px;
    color: $dark-2;
    font-style: italic;
  }
  .post-item__info {
    padding-top: 12px;
    color: $dark-2;
  }
  .post-item__category {
    color: $dark-2;
    &:hover {
      color: $brand-primary;
    }
  }
  .post-item__comment {
    display: inline-block;
    margin-left: 10px;
    color: $green;
    font-size: em(12);
    &:hover {
      color:: $brand-primary;
    }
  }
}

.promotion-item {
  width: 100%;
  .promotion-item__inner {
    // @include clearfix();
  }
  .promotion-item__title {
    display: block;
    margin-bottom: 10px;
    color: $dark;
    font-size: em(16);
    font-weight: 700;
    text-overflow: ellipsis;
    &:hover {
      color: $brand-primary;
    }
  }
  .promotion-item__thumb {
    float: left;
    margin-right: 20px;
  }
  .promotion-item__vendername {
    color: $dark-3;
    &:hover {
      color: $brand-primary;
    }
  }
  .promotion-item__detail {
    margin-top: 5px;
  }
  .promotion-item__category,
  .promotion-item__location {
    display: block;
    color: $dark-2;
    font-style: italic;
    &:hover {color: $brand-primary;}
  }
}

.video-item {
  &:hover {
    .video-item__thumb:after {opacity: .5;}
  }
  .video-item__thumb {
    position: relative;
    display: inline-block;
    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: $white;
      opacity: 0;
      transition: opacity .5s ease-out;
    }
  }
  .video-item__thumb-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    @include size(50px);
    background: rgba($white, .5);
    border-radius: 100%;
    color: $white;
    text-align: center;
    font-size: em(32);
    line-height: 50px;
    transform: translateX(-50%) translateY(-50%);
    &:before {line-height: 50px;}
  }
  .video-item__heading {
    margin-top: 10px;
  }
  .video-item__title {
    color: $dark;
    font-size: em(16);
    font-weight: 700;
    &:hover {color: $brand-primary;}
  }
  .video-item__comment {
    display: inline-block;
    margin-left: 10px;
    color: $green;
    font-size: em(12);
    &:hover {color:: $brand-primary;}
  }
  .video-item__date {
    color: $dark-2;
    &:hover {color: $brand-primary;}
  }
  .video-item__views {
    color: $dark;
    &:hover {color: $brand-primary;}
  }
  .video-item__iconviews {
    margin-right: 5px;
    color: $dark-2;
  }
}

.social-item {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eaeaea;
  @include clearfix();
  &:hover {
    .social-item__thumb:after {opacity: .5;}
  }
  .social-item__thumb {
    position: relative;
    display: block;
    float: left;
    max-width: 120px;
    margin-right: 10px;
    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: $white;
      opacity: 0;
      transition: opacity .5s ease-out;
    }
  }
  .social-item__info {
    overflow: hidden;
  }
  .social-item__title {
    color: $dark;
    font-size: em(16);
    font-weight: 700;
    &:hover {color: $brand-primary;}
  }
  .social-item__comment {
    display: inline-block;
    margin-left: 10px;
    color: $green;
    font-size: em(12);
    &:hover {color:: $brand-primary;}
  }
  .social-item__author {
    color: $dark-2;
  }
  .social-item__author-name {
    color: $dark;
    &:hover {color: $brand-primary;}
  }
  .social-item__detail {
    color: $dark-2;
    font-style: italic;
  }
  .social-item__category {
    color: $dark-2;
    &:hover {color: $brand-primary;}
  }
  .social-item__love-btn,
  .social-item__comment-btn {
    color: $green;
    &:hover {color: $brand-primary;}
    .icon {
      margin-right: 5px;
    }
  }
  .social-item__comment-btn {
    margin-left: 20px;
  }
}

.photo-item {
  .photo-item__inner {
    position: relative;
    height: 285px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: $black;
      opacity: 0;
      transition: opacity .3s ease-out;
      z-index: 1;
    }
    &:hover {
      &:before {
        opacity: .5;
      }
      .photo-item__title {
        font-size: em(14);
        transform: translateY(20px);
      }
      .photo-item__article-block {
        transform: translateY(0);
      }
    }
  }
  .photo-item__title {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    color: $white;
    font-size: em(30);
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0px 0px 2px rgba(0, 1, 1, 0.3);
    transition: all .3s ease-out;
    transform: translateY(130px);
    z-index: 2;
    &:hover {
      color: darken($white, 20%);
    }
  }
  .photo-item__article-block {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 10px;
    transition: transform .3s ease-out;
    transform: translateY(285px);
    z-index: 2;
  }
  .photo-item__article {
    margin-top: 10px;
    margin-bottom: 10px;
    @include clearfix();
    &:hover {
      .photo-item__article-thumb:after {opacity: .5;}
    }
  }
  .photo-item__article-thumb {
    position: relative;
    float: left;
    max-width: 140px;
    margin-right: 10px;
    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: $white;
      opacity: 0;
      transition: opacity .5s ease-out;
    }
  }
  .photo-item__article-title {
    display: block;
    color: darken($white, 20%);
    font-size: em(16);
    font-weight: 700;
    &:hover {
      color: $white;
    }
  }
}

.list-tool {
  .list-tool__inner {
    width: 100%;
    display: table;
    table-layout: fixed;
  }
  .list-tool__btn {
    display: table-cell;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    color: $dark-2;
    &:hover,
    &:hover .list-tool__btn-icon {
      color: $brand-primary;
    }
  }
  .list-tool__btn-icon {
    color: $dark;
    font-size: em(32);
    line-height: 1;
  }
}

.tab-panel__inner {
  [class*="tab-panel__col"] {
    margin-bottom: 10px;
    &:last-child {margin-bottom: 0;}
  }
}

.social-connect {
  margin-top: 20px;
  .social-connect-title {text-align: center;}
  .social-connect-ul {
    margin-top: 10px;
    padding: 0;
    list-style: none;
    text-align: center;
  }
  .social-connect-li {display: inline-block;}
  .social-connect-link {
    color: $white;
    font-size: 32px;
    &:hover {
      color: $brand-primary;
    }
  }
}

.verify-area {
  @include clearfix();
  .verify__left {
    float: left;
    margin-right: 10px;
    color: $brand-primary;
    font-size: em(48);
    line-height: .8;
  }
  .verify__right {
    color: $dark-2;
  }
}

.filter-block-btn {
  margin-bottom: 20px;
  .filter__heading-text {
    color: $dark-2;
    strong {
      color: $dark;
      font-size: em(18);
    }
  }
  .btn {
    color: $dark-2;
    .icon {color: $dark}
  }
}

.vendor-item {
  margin-bottom: 20px;
  &:hover {
    .vendor-item__thumb {
      opacity: .7;
    }
  }
  .vendor-item__thumb {
    position: relative;
    display: block;
    color: $white;
    opacity: 1;
    transition: opacity .5s ease-out;
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 35px;
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
      background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
      opacity: .5;
      z-index: 0;
    }
    .rating-item {
      position: absolute;
      bottom: 5px;
      left: 10px;
      width: 62px;
      z-index: 1;
    }
    .rating__text {
      position: absolute;
      bottom: 5px;
      right: 10px;
      z-index: 1;
    }
  }
  &.vendor-item--error {
    .vendor-item__thumb:after {
      top: 0;
      height: auto;
      background: rgba($brand-primary, .5);
    }
    .vendor-item__error-text {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 20px;
      color: $white;
      z-index: 2;
    }
  }
  .vendor-item__title {
    display: block;
    color: $dark;
    font-size: em(16);
    font-weight: 700;
    &:hover {
      color: $brand-primary;
    }
  }
  .vendor-item__category,
  .vendor-item__location {
    color: $dark-2;
    &:hover {color: $brand-primary}
  }
  .vendor-item__category-icon-verify {
    margin-left: 5px;
    color: $green;
  }
  .vendor-item__price {
    color: $dark-2;
    strong {
      color: $dark;
      font-size: em(16);
    }
  }
  .vendor-item__price-ex {
    color: $green;
    margin-left: 10px;
  }
  .vendor-item__link {
    color: $dark-2;
    margin-right: 10px;
    &:hover {color: $brand-primary;}
  }
  &.vendor-item--add {
    position: relative;
    border: 1px solid $gray-border;
    .vendor-item__thumb {opacity: 0;}
  }
  .vendor-item__add-block {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    transform: translateY(-50%);
  }
  .vendor-item__add-block-inner {
    color: $dark-2;
    font-size: em(16);
    text-align: center;
    .icon {
      display: block;
      font-size: em(48,16)
    }
  }
}
.wp-pagenavi {
  margin-bottom: 20px;
  text-align: center;
  a {
    color: $dark;
    &:hover {color: $brand-primary;}
  }
  > * {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 30px;
    text-align: center;
    line-height: 30px;
  }
  .current {
    background: $brand-primary;
    color: $white;
  }
  .page {
    background: $light-blue;
    transition: all .3s ease-out;
    &:hover {
      color: $white;
      background: $brand-primary;
    }
  }
  .extend {
    display: none;
  }
}
.filter-panel {
  .filter-panel__heading {
    position: relative;
    display: block;
    padding: 10px;
    border-bottom: 1px solid $gray-border;
    font-size: em(16);
    .icon {
      margin-right: 5px;
    }
    &[aria-expanded="true"] .filter-panel__arrow {
      transform: rotate(180deg);
    }
  }
  .filter-panel__arrow {
    position: absolute;
    top: 10px;
    right: 10px;
    color: $dark;
    transform: rotate(0);
    transition: transform .3s ease-out;
  }
  .filter-panel__body {
    padding: 10px;
    overflow: hidden;
    background: $gray-2;
  }
  .popup-modal-dismiss {
    top: 0;
    bottom: 0;
    right: 0;
    padding: 11px;
  }
}

.shop-page__popover-email-form {
  min-width: 300px;
}
.shop-page {
  &.shop-page--premium {
    margin-top: -50px;
  }
  .shop-page__menu-block {
    margin-bottom: 40px;
    border-bottom: 1px solid $gray-border;
    font-size: em(16);
  }
  .shop-page__menu,
  .shop-page__menu-ex {
    margin-bottom: 0;
  }
  .shop-page__menu-item {
    &.active {
      .shop-page__menu-link {
        color: $dark;
        border-bottom: 1px solid $brand-primary;
      }
    }    
  }
  .shop-page__menu-link {
    display: inline-block;
    color: $dark-2;
    padding: 10px;
    &:hover {color: $brand-primary;}
  }
  .shop-page__premium-address {
    &.dl-horizontal {
      dt {
        width: 20px;
        text-align: left;
      }
      dd {
        margin-left: 25px;
        margin-bottom: 10px;
      }
    }
    a:hover {color: darken($white, 50%);}
  }
  .shop-page__premium-cover {
    margin-bottom: 20px;
    background-size: cover;
    background-position: center center;
    .container {
      position: relative;
    }
  }
  .shop-page__cover-cup {
    padding: 5px 5px 0 5px;
    background: rgba($brand-primary, .7);
    color: $white;
    font-size: em(36);
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
  }
  .shop-page__cover-info {
    padding-top: 30px;
    padding-bottom: 30px;
    color: $white;
    text-align: center;
    text-shadow: 0 0 2px rgba($black, .5);
  }
  .shop-page__cover-img {
    img {
      max-width: 100px;
    }
  }
  .shop-page__info {
    margin-bottom: 15px;
  }
  .shop-page__title {
    font-size: em(20);
    font-weight: 700;
  }
  .shop-page__verify-icon {
    color: $green;
  }
  .shop-page__info-ex {
    color: $dark-2;
    font-size: em(16);
    margin-right: 20px;
    .icon {
      color: $green;
    }
    &:hover {
      color: $brand-primary;
    }
  }
  .shop-page__ex-link {
    font-weight: 700;
    &:hover {
      color: $green;
    }
  }
  .shop-page__slide {
    margin-bottom: 15px;
  }
  .shop-page__description {
    color: $dark-3;
    font-size: em(16);
  }
  .shop-page__price-label {
    font-weight: 700;
    text-align: center;
  }
  .shop-page__price {
    color: $brand-primary;
    font-size: em(16);
    text-align: center;
  }
  .shop-page__price-ex {
    margin-left: 5px;
    color: $dark-2;
    font-size: em(14,16);
  }
  .shop-page__awards-block {
    padding: 20px 10px;
    border-bottom: 1px solid $gray-border;
  }
  .shop-page__awards-item {
    width: 100%;
    display: table;
  }
  .shop-page__awards-img,
  .shop-page__awards-text {
    padding: 10px;
    display: table-cell;
    vertical-align: middle;
  }
  .shop-page__awards-img {
    text-align: right;
  }
  .shop-page__awards-text {
    text-align: left;
  }
  .shop-page__review-block {
    display: table;
    table-layout: fixed;
    width: 100%;
    // border-bottom: 1px solid $gray-border;
  }
  .shop-page__review-left,
  .shop-page__review-right {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
  .normal_shop__review-percent {
    font-size: em(30);
  }
  .normal_shop__review-ex {
    color: $dark-2;
  }
  .shop-page__review-block {
    padding: 20px;
  }
  .shop-page__social-block {
    padding: 15px 0;
  }
}

.post-social-block {
  .post-social-block__inner {
    @include clearfix();
  }
  .post-social__item {
    display: inline-block;
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
    &.social__bookmark {
      display: inline-block;
      margin-left: 10px;
      color: $dark;
      font-size: em(24);
      &:hover {
        color: $brand-primary;
      }
    }
  }
  a.post-social__item {
    color: $green;
    &:hover {color: $brand-primary;}
  }
  .social__list-icon {
    display: inline-block;
    margin: 0 7px;
    color: $dark-2;
    font-size: em(16);
  }
  a.social__list-icon {
    &:hover {
      color: $brand-primary;
    }
  }
}

.comment-block {
  .comment-block__heading {
    border-bottom: 1px solid $gray-border;
  }
  .comment-block__heading-text  {
    font-size: em(24);
    font-weight: 300;
    .comment-block__heading-text-ex {
      display: inline-block;
      margin-left: 10px;
      color: $green;
      font-size: em(14,24);
    }
  }
  .comment-block__view-btn {
    display: inline-block;
    margin-top: 10px;
    color: $dark;
    &:hover {
      color: $brand-primary;
    }
  }
  .comment-block__login-text {
    padding: 15px 0;
    color: $dark-2;
    text-align: center;
    a {font-weight: 700;}
  }
  .comment-block__list-comments {
    margin-top: 20px;
  }
}

.comment-item {
  &.comment-item--2 {
    .comment-item__inner {
      padding-bottom: 20px;
      border-bottom: 1px solid $gray-border;
    }
    .comment-item__group-btn {
      float: right;
    }
    .comment-item__content {
      margin-top: 5px;
      font-size: em(16);
    }
  }
  &.comment-item--form {
    .comment-item__inner {
      padding: 10px;
    }
    .comment-item__thumb {display: none;}
    .comment-item__name {display: none;}
    .rating-form {
      font-size: em(24);
    }
  }
  .comment-item__quote {
    margin-top: 10px;
  }
  .comment-item__quote-inner {
    padding: 10px;
    background: $light-blue;
  }
  .comment-item__quote-name {
    color: $dark;
    font-size: em(14,16);
    font-weight: 700;
  }
  .comment-item__quote-text {
    color: $dark-2;
    font-size: em(12);
  }
  .comment-item__heading {
    @include clearfix();
  }
  .comment-item__thumb {
    max-width: 40px;
    margin-right: 10px;
    float: left;
  }
  .comment-item__info {
    overflow: hidden;
  }
  .comment-item__name {
    color: $dark;
    font-weight: 700;
    margin-right: 5px;
    &:hover {color: $brand-primary;}
  }
  .comment-item__date {
    color: $dark-2;
  }
  .comment-item__content {
    color: $dark-3;
  }
  .comment-item__comment {
    color: $green;
    &:hover {
      color: $brand-primary;
    }
  }
  .comment-item__reply {
    margin-left: 15px;
    color: $dark;
    &:hover {
      color: $brand-primary;
    }
  }
  .comment-item__inner {
    margin-bottom: 15px;
  }
  .comment-item {
    margin-left: 10px;
    padding-left: 10px;
    padding-bottom: 15px;
    border-left: 1px solid $gray-border;
    .comment-item__inner {
      margin-bottom: 0;
    }
    &.comment-item--last {
      padding-bottom: 0;
      .comment-item__inner {
        margin-bottom: 15px;
      }
    }
  }
}

.btn-group--custom {
  margin-bottom: 20px;
  .btn {
    &.active {
      background: $brand-primary;
      color: $white;
      border-color: $gray-border;
    }
  }
}

.product-item {
  margin-bottom: 20px;
  .product-item__inner {
    @include clearfix();
  }
  .product-item__thumb {
    position: relative;
    float:left;
    max-width: 130px;
    margin-right: 10px;
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: rgba($white, 0);
      z-index: 1;
      transition: background .3s ease-out;
    }
  }
  .product-item__thumb-inner {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
    transform: translateY(-50%);
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s ease-out;
  }
  .product-item__thumb-link {
    color: $dark;
    &:hover {
      color: $brand-primary;
    }
  }
  .product-item__title {
    color: $dark;
    font-size: em(16);
    font-weight: 700;
    &:hover {color: $brand-primary;}
  }
  .product-item__info {
    overflow: hidden;
  }
  .product-item__price {
    strong {font-size: em(16)}
  }
  .product-item__price-ex {
    color: $green;
    margin-left: 10px;
  }
}

.main-article {
  &.main-article--outdate {
    filter: blur(10px);
  }
  .main-article__title {
    font-size: em(20);
    font-weight: 700;
  }
  .main-article__post-uptime {
    color: $dark-2;
    strong {color: $dark}
  }
  .main-article__detail {
    margin-bottom: 10px;
  }
  .main-article__intro-text {
    margin-bottom: 15px;
    font-size: em(16);
    font-weight: 700;
  }
  .main-article__video-block {
    margin-bottom: 15px;
  }
  .main-article__content {
    font-size: em(16);
  }
  .main-article__content-img {
    margin-bottom: 15px;
    background: $light-blue;
  }
  .wp-caption {
    padding: 0;
    background: $light-blue;
    border: 0;
    .wp-caption-text {
      font-size: em(14,16);
    }
  }
  .main-article__content-img-desc {
    padding: 5px 10px;
    font-size: em(12);
    text-align: center;
  }
  .main-article__recommend-block {
    margin-bottom: 15px;
  }
  .main-article__recommend-item {
    padding: 10px;
    background: $light-blue;
    &:hover {
      .main-article__recommend-thumb {opacity: .7;}
    }
  }
  .main-article__recommend-thumb {
    display: block;
    opacity: 1;
    transition: opacity .3s ease-out;
  }
  .main-article__recommend-title {
    color: $dark;
    font-weight: 700;
    &:hover {color: $brand-primary;}
  }
  .main-article__sig {
    color: $dark-2;
    font-weight: 300;
    text-align: right;
    .animation-heart {
      margin-left: -15px;
    }
  }
  .main-article__content-list-imgs {
    @include clearfix();
    margin-left: -10px;
    margin-right: -10px;
    padding-top: 15px;
    border-top: 1px solid $gray-border;
  }
  .main-article__content-list-img-item {
    float: left;
    width: 33.33%;
    padding-left: 10px;
    padding-right: 10px;
    img {
      border: 2px solid transparent;
      transition: opacity .3s ease-out;
    }
    &:hover {
      img {opacity: .7;}
    }
    &.active {
      img {border-color: $brand-primary; }
    }
  }
  .main-article__vendor-info {
    padding-top: 10px;
    border-top: 1px solid $gray-border;
    .main-article__vendor-info-text {color: $dark-2;}
    .main-article__vendor-info {
      margin-top: 10px;
    }
  }
  .main-article__promotion-info-group-1 {
    display: table;
    width: 100%;
  }
  .main-article__promotion-info-group-1-inner {
    display: table-row;
  }
  .main-article__promotion-info-group-2 {
    display: table;
    width: 100%;
  }
  .main-article__promotion-info-group-2-inner {
    display: table-cell;
  }
 .main-article__promotion-info-group-3 {
    display: table;
    width: 100%;
  }
  .main-article__promotion-info-group-3-inner {
    display: table-cell;
    width: 100%;
  }
  .main-article__promotion-info-1 {
    display: table-cell;
    width: 50%;
    padding: 5px 10px;
    border: 1px solid $gray-border;
    color: $brand-primary;
    font-size: em(30);
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
  }
  .main-article__promotion-info-2 {
    display: table-cell;
    width: 50%;
    padding: 5px 10px;
    border: 1px solid $gray-border;
    color: $dark-2;
    font-size: em(16);
    text-align: center;
    vertical-align: middle;

  }
  .main-article__promotion-info-group-3-inner {
    padding: 5px 10px;
    border: 1px solid $gray-border;
  }
  .main-article__promotion-info-price-1 {
    text-decoration: line-through;
  }
  .main-article__promotion-info-price-2 {
    color: $dark;
    font-weight: 700;
  }
}

.player-item {
  .player-item__video-info {
    padding: 20px 15px;
    background: $light-blue;
    text-align: center;
  }
  .player-item__video-title {
    margin-bottom: 5px;
    font-size: em(16);
    font-weight: 700;
  }
  .player-item__video-title-ex {
    font-weight: 300;
  }
  .player-item__video-short-desc {
    margin-bottom: 15px;
  }
}

.panel-1 {
  .panel-1__heading {
    padding: 5px 0;
    font-weight: 300;
    text-align: center;
    border-bottom: 1px solid $gray-border;
  }
  .panel-1__body {
    padding-top: 10px;
  }
}

.vendor-info {
  margin-bottom: 15px;
  .vendor-info__inner {
    @include clearfix();
  }
  .vendor-info__thumb {
    float: left;
    margin-right: 10px;
  }
  .vendor-info__info {
    overflow: hidden;
  }
  .vendor-info__title {
    color: $dark;
    font-weight: 700;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    &:hover {
      color: $brand-primary;
    }
  }
  .vendor-info__category,
  .vendor-info__location {
    color: $dark-2;
    &:hover {color: $brand-primary;}
  }
}

.list-suggest-news {
  list-style: none;
  padding: 0;
  .list-suggest-news__item {
    &:before {
      content: '';
      display: inline-block;
      @include size(3px);
      margin-right: 5px;
      background: $dark;
      border-radius: 5px;
      vertical-align: middle;
    }
    a {
      color: $dark;
      font-weight: 700;
      &:hover {color: $brand-primary;}
    }
  }
}

.feature-video-block {
  .feature-video-block__inner {
    @include clearfix();
    margin-right: -10px;
    margin-left: -10px;
  }
  .feature-video-block__ex-col,
  .feature-video-block__main-col {
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
  }
  .feature-video-block__ex-col {
    float: left;
    width: 50%;
  }
}

.brand-info {
  position: relative;
  margin-top: 15px;
  .brand-info__inner {
    @include clearfix();
  }
  .brand-info__thumb {
    float: left;
    max-width: 50px;
    margin-right: 10px;
    border-radius: 50px;
    overflow: hidden;
  }
  .brand-info__title {
    color: $dark;
    font-weight: 700;
    &:hover {color: $brand-primary;}
  }
  .brand-info__desc {
    overflow: hidden;
    color: $dark-2;
  }
  .brand-info__viewmore-btn {
    position: absolute;
    top: 50%;
    right: 0;
    color: $dark-2;
    &:hover {
      color: $brand-primary;
      .brand-info__viewmore-icon {
        transform: translateX(5px);
      }
    }
  }
  .brand-info__viewmore-icon {
    display: inline-block;
    color: $brand-primary;
    transition: transform .3s ease-out;
  }
}

.list-video-vertical {
  .video-item {margin-bottom: 20px;}
}

.account-panel {
  margin-bottom: 30px;
  .account-panel__inner {
    @include clearfix();
    padding: 30px 0 15px 0;
    background: $gray-2;
  }
  .account-panel__thumb {
    float: left;
    max-width: 80px;
    margin-right: 20px;
    border: 2px solid $white;
    border-radius: 80px;
    overflow: hidden;
  }
  .account-panel__detail {
    overflow: hidden;
  }
  .account-panel__name {
    font-size: em(16);
    font-weight: 300;
  }
  .account-panel__ex-info {
    color: $dark-2;
  }
  .account-panel__point-icon {
    color: $brand-primary;
  }
  .account-panel__point-text {
    display: inline-block;
  }
}

.control-item {
  color: $dark;
  &.control-item--active,
  &:hover {
    color: $brand-primary;
    .control-item__desc {color: $brand-primary;}
  }
  .control-item__inner {
    @include clearfix();
    padding: 10px 0;
    border-bottom: 1px solid $gray-border;
  }
  .control-item__icon {
    float: left;
    width: 30px;
    font-size: em(32);
    margin-right: 10px;
  }
  .control-item__detail {
    overflow: hidden;
  }
  .control-item__name {
    font-weight: 700;
  }
  .control-item__desc {
    color: $dark-2;
  }
  .control-item__notify {
    display: inline-block;
    @include size(14px);
    margin-left: 5px;
    border-radius: 14px;
    background: $brand-primary;
    color: $white;
    font-size: em(10);
    line-height: 14px;
    text-align: center;
    font-weight: 400;
    vertical-align: top;
  }
}

.mail-box {
  border-top: 1px solid $gray-border;
  .mail-box__header {
    padding: 10px 0;
    border-bottom: 1px solid $gray-border;
  }
  .mail-box__footer {
    text-align: center;
    padding: 10px;
  }
  .mail-box__footer-btn {
    color: $dark-2;
  }
  &.mail-box--detail {
    .checkbox {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}
.mail-item {
  .mail-item__inner {
    @include clearfix();
    padding: 10px 0;
    border-bottom: 1px solid $gray-border;
  }
  .mail-item__checkbox {
    float: left;
    margin-right: 5px;
  }
  .mail-item__description {
    overflow: hidden;
  }
  .mail-item__name {
    font-weight: 700;
  }
  .mail-item__time {
    color: $dark-2;
  }
  &.mail-item--readed {
    .mail-item__short-desc {
      color: $dark-2;
    }
  }
}
.list-category {
  a {
    display: block;
    padding: 10px 0;
    border-bottom: 1px solid $gray-border;
    color: $dark-2;
    &:hover {color: $brand-primary;}
  }
  .list-category__icon {
    font-size: em(32);
    vertical-align: middle;
    margin-right: 10px;
  }
  .list-category__text {
    font-size: em(16);
  }
}
.list-colors {
  .list-color__color {
    display: inline-block;
    @include size(15px);
    border-radius: 15px;
    border: 1px solid transparent;
  }
}
.qa-link {
  display: block;
  width: 20%;
  float: left;
  @include clearfix();
  &:hover {
    .qa-link__icon {
      color: $brand-primary;
    }
    .qa-link__text {
      color: $brand-primary;
    }
  }
  .qa-link__icon {
    color: $dark;
    font-size: em(48);
  }
  .qa-link__left {
    float: left;
    margin-right: 10px;
  }
  .qa-link__text {
    color: $dark;
    font-weight: 700;
  }
  .qa-link__desc {
    color: $dark-2;
  }
  .qa-link__text-ex {
    display: inline-block;
    @include size(14px);
    border-radius: 14px;
    background: $brand-primary;
    color: $white;
    font-size: em(10);
    line-height: 14px;
    text-align: center;
    vertical-align: middle;
    margin-left: 5px;
  }
}
.topic {
  &.topic--2 {
    padding-bottom: 10px;
    margin-bottom: 15px;
    border-bottom: 1px solid $gray-border;
    .topic__title {
      float: none;
      display: block;
    }
    .topic__user-name-2 {
      color: $dark-2;
      a {
        color: $dark;
        &:hover {color: $brand-primary;}
      }
    }
  }
  .topic__heading {
    @include clearfix();
  }
  .topic__avatar {
    max-width: 40px;
    float: left;
    margin-right: 10px;
  }
  .topic__user-name {
    color: $dark;
    font-weight: 700;
    &:hover {color: $brand-primary;}
  }
  .topic__time {
    color: $dark-2;
  }
  .topic__heading {
    margin-bottom: 10px;
  }
  .topic__title {
    float: left;
    color: $dark;
    font-weight: 700;
    &:hover {color: $brand-primary;}
  }
  .topic__comment {
    color: $green;
    &:hover {color: $brand-primary}
  }
  .topic__comment,
  .topic__views {
    margin-left: 10px;
  }
  .topic__views {
    color: $dark;
    &:hover {color: $brand-primary;}
  }
  .topic__comment-name {
    margin-left: 5px;
    color: $dark;
    &:hover {color: $brand-primary}
  }
  .topic__short-desc,
  .topic__latest-comment-content {
    color: $dark-3;
  }
  .topic__border {
    padding-bottom: 15px;
    margin-bottom: 20px;
    border-bottom: 1px solid $gray-border;
  }
}
.tool-sidebar {
  border-bottom: 1px solid $gray-border;
  &:last-child {border-bottom: 0;}
  .tool-sidebar__icon {
    float: left;
    margin-right: 20px;
    font-size: em(42);
  }
  .tool-sidebar__content {
    overflow: hidden;
  }
  .tool-sidebar__inner {
    @include clearfix();
    padding: 10px 20px;
    background: $gray-2;
  }
  .tool-sidebar__title {
    font-weight: 700;
  }
  .tool-sidebar__icon,
  .tool-sidebar__title {
    color: $dark;
    &:hover {color: $brand-primary;}
  }
}
.nav-tabs--style-2 {
  border-bottom: 0;
  > li {
    margin: 0;
    font-size: em(20);
    font-weight: 700;
    > a {
      border: 0;
      border-bottom: 1px solid transparent;
      color: darken($brand-primary, 20%);
      &:hover {
        background: transparent;
        color: $white;
        border-color: transparent;
      }
    }
  }
  > li.active > a, 
  > li.active > a:hover, 
  > li.active > a:focus {
    background: transparent;
    color: $white;
    border: 0;
    border-bottom: 1px solid $white;
  }
}
.tab-content--style-2 {
  padding: 20px 0;
  font-size: em(16);
}
.vendor-label {
  .vendor-label__thumb {
    float: left;
    margin-right: 10px;
    width: 60px;
  }
  .vendor-label__inner {
    @include clearfix();
  }
  .vendor-label__point {
    float: left;
    margin-right: 10px;
    @include size(45px);
    border: 1px solid $dark-2;
    border-radius: 45px;
    font-size: em(16);
    text-align: center;
    line-height: 45px;
  }
  .vendor-label__name {
    color: $dark-3;
  }
  .vendor-label__icon {
    color: $green;
  }
}
.product-detail {
  color: $dark-2;
  .product-detail__title {
    color: $dark;
    font-size: em(20);
    font-weight: 700;
  }
  .product-detail__desc {
    font-size: em(16);
    margin-bottom: 10px;
  }
  .product-detail__limit {
    font-size: em(16);
    td {
      padding: 2px 5px;
    }
  }
  .product-detail__price-ex {
    display: inline-block;
    margin-right: 20px;
    font-weight: 700;
    text-decoration: line-through;
  }
  .product-detail__price-new {
    display: inline-block;
    color: $dark;
    font-weight: 700;
  }
  .product-detail__price-unit {
    color: $dark-2;
    font-weight: 400;
  }
  .product-detail__vendor-title {
    margin-top: 10px;
    margin-bottom: 10px;
    color: $dark;
    font-size: em(20);
    border-bottom: 1px solid $gray-border;
  }
}
.facebook-login {
  display: inline-block;
  padding: 2px 10px;
  background: #3b5998;
  border: 1px solid #3b5998;
  border-radius: 4px;
  color: $white;
  transition: all .3s ease-out;
  .facebook-login__icon {
    font-size: em(16);
  }
  .facebook-login__text {
    display: inline-block;
    padding-left: 10px;
    margin-left: 10px;
    border-left: 1px solid $white;
  }
  &:hover {
    background: $white;
    color: #3b5998;
    .facebook-login__text {
      border-left-color: #3b5998;
    }
  }
}
.control-panel {margin-top: 50px;
  .control-panel__body {
    padding-top: 20px;
  }
}
.album-item {
  margin-bottom: 20px;
  &.album-item--2 {
    .album-item__info-on-bg {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 10px;
      background: rgba($white, .5);
    }
    .album-item__title {
      font-size: em(16);
    }
    .album-item__desc {
      font-size: em(16);
      color: $dark-2;
    }
  }
  .album-item__inner {
    position: relative;
  }
  .album-item__category-text {
    position: absolute;
    padding: 10px 30px;
    top: 10px;
    left: 20px;
    right: 20px;
    background: rgba($brand-primary, .5);
    color: $white;
    font-size: em(16);
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
  }
  .album-item__thumb {
    display: inline-block;
  }
  .album-item__title {
    margin-right: 10px;
    color: $dark;
    font-size: em(20);
    font-weight: 700;
    &:hover {
      color: $brand-primary;
    }
  }
  .album-item__comment-icon {
    color: $green;
  }
  .album-item__date {
    color: $dark-2;
  }
}
.blog-item {
  position: relative;
  .blog-item__category-text {
    position: absolute;
    max-width: 100%;
    padding: 10px 30px;
    top: 10px;
    left: 50%;
    background: rgba($brand-primary, .5);
    color: $white;
    font-size: em(16);
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    transform: translateX(-50%);
    z-index: 1;
  }
  &:hover {
    .blog-item__thumb:after {opacity: .5;}
  }
  .blog-item__thumb {
    position: relative;
    display: block;
    margin-bottom: 5px;
    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: $white;
      opacity: 0;
      transition: opacity .5s ease-out;
    }
  }
  .blog-item__title {
    color: $dark;
    font-size: em(16);
    font-weight: 700;
    &:hover {
      color: $brand-primary;
    }
  }
  .blog-item__desc {
    color: $dark-3;
  }
  .blog-item__icon {
    margin-left: 10px;
    color: $green;
  }
  .blog-item__author {
    color: $dark-2;
    a {
      color: $dark;
      &:hover {color: $brand-primary;}
    }
  }
  .blog-item__date {
    color: $dark-2;
  }
  .blog-item__avatar {
    float: left;
    margin-right: 10px;
  }
  .blog-item__info {
    overflow: hidden;
  }
}
.bloger-item {
  margin-bottom: 10px;
  .bloger-item__thumb {
    margin-right: 10px;
  }
  .bloger-item__name {
    color: $dark;
    font-weight: 700;
    &:hover {color: $brand-primary;}
  }
  .bloger-item__post-numb {
    color: $green;
  }
}
.cart-item {
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid $gray-border;
  font-size: em(16);
  &.cart-item--last {
    border-bottom: 0;
  }
  .cart-item__name {
    color: $dark;
    font-weight: 700;
    &:hover {color: $brand-primary;}
  }
  .cart-item__price {
    font-weight: 700;
    span {
      color: $dark-2;
      font-weight: 400;
    }
  }
  .cart-item__total {
    font-size: em(20,16);
  }
  .cart-item__total-final {
    color: $brand-primary;
    font-size: em(20,16);
    font-weight: 700;
  }
}
.login-box {
  padding: 20px;
  background-color: $light-blue;
  .login-box__heading {
    padding: 0 20px;
    margin-bottom: 20px;
    text-align: center;
  }
}
.lastest-comment-item {
  margin-bottom: 10px;
  border-bottom: 1px solid $gray-border;
  &:last-child {border-bottom: 0;}
  .lastest-comment-item__title {
    color: $dark;
    font-weight: 700;
    &:hover {color: $brand-primary;}
  }
  .comment-item .comment-item__inner {
    margin-bottom: 10px;
  }
}
.small-promotion--item {
  @include clearfix();
  margin-bottom: 10px;
  .small-promotion--thumb {
    width: 25%;
    margin-right: 5px;
    float: left;
  }
  .small-promotion--title {
    color: $dark;
    font-weight: 700;
    overflow: hidden;
    &:hover {color: $brand-primary;}
  }
}
.sticked-bar {
  position: fixed;
  top: 55px;
  left: 0;
  right: 0;
  padding-top: 10px;
  background: $white;
  z-index: 8;
  box-shadow: 0 0 2px rgba($dark, .3);
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s ease-out;
  &.active {
    opacity: 1;
    visibility: visible;
  }
  .sticked-bar__title {
    margin-top: 10px;
    font-size: em(20);
    font-weight: 700;
  }
}
.gallery {
  &.gallery--popup {
    figcaption {display: none;}
  }
}
.main-notification {
  .swiper-slide {
    background: transparent;
  }
}

.add-photo {
  position: relative;
  border: 1px solid $gray-border;
  color: $dark-2;
  text-align: center;
  .add-photo__icon {
    font-size: em(24);
  }
  .add-photo__inner {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
  }
}

.price-card {
  .price-card__inner {
    border: 1px solid $gray-border;
  }
  &.price-card--active {
    .price-card__inner {
      box-shadow: 0 0 60px rgba($black, .2);
    }
  }
  .price-card__header {
    padding: 10px 20px;
    border-bottom: 1px solid $gray-border;
    font-size: em(20);
    text-align: center;
    font-weight: 700;
  }
  .price-card__body {
    padding: 10px 20px;
    color: $dark-2;
  }
  .price-card__feature-table {
    width: 100%;
    .text-right {
      color: $dark;
    }
  }
  .price-card__price {
    color: $dark;
    font-size: em(20);
    font-weight: 300;
  }
  .price-card__footer {
    padding: 0 20px 20px;
  }
}
.list-underline {
  .list-underline__item {
    margin-bottom: 10px;
    padding-top: 10px;
    border-top: 1px solid $gray-border;
    color: $dark-2;
  }
}
.tool-detail {
  &.tool-detail--fixed {
    .tool-detail__inner {
      table-layout: fixed;
    }
  }
  .tool-detail__inner {
    display: table;
    border-collapse: collapse;
    width: 100%;
  }
  .tool-detail__cell {
    display: table-cell;
    border: 1px solid $gray-border;
    text-align: center;
    vertical-align: middle;
    &.tool-detail--active {
      background: $gray-border;
      color: $dark-2;
    }
  }
  .tool-detail__icon {
    font-size: em(24);
  }
  .tool-detail__desc {
    color: $dark-2;
  }
  .tool-detail__desc-small {
    color: $dark;
    font-weight: 700;
  }
}
.map-wedding {
  .map-wedding__main {
    border-top: 1px solid $gray-border;
  }
  .map-wedding__main-inner {
    width: 200px;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid $gray-border;
    border-top: 0;
    text-align: center;
    font-weight: 700;
  }
  .map-wedding__item {
    height: 85px;
    position: relative;
    padding: 20px 10px;
    margin-bottom: 20px;
    border: 1px solid $gray-border;
    text-align: center;
    &.map-wedding__item--1 {
      background: $gray-border;
    }
    &.map-wedding__item--2 {
      border-color: $brand-primary;
      color: $brand-primary;
      .small {
        color: $dark-2;
      }
    }
    &.map-wedding__item--add {
      background: $brand-primary;
      color: $white;
    }
    &:hover {
      .map-wedding__close-btn {
        opacity: 1;
        visibility: visible;
      }
    }
  }
  .map-wedding__explain {
    .map-wedding__item {
      margin-right: 20px;
    }
    .map-wedding__item--1 {
      @include size(40px);
    }
    .map-wedding__item--2 {
      @include size(40px);
    }
  }
  .map-wedding__close-btn {
    position: absolute;
    top: -12px;
    right: -12px;
    color: $brand-primary;
    font-size: em(24);
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s ease-out;
    cursor: pointer;
  }
}
.block-promo-num {
  background: $light-blue;
  .block-promo-num__inner {
    display: table;
    width: 100%;
  }
  .block-promo-num__cell {
    display: table-cell;
    vertical-align: top;
    &:first-child {
      padding-left: 5px;
      padding-top: 5px;
    }
  }
  .btn {margin-bottom: 0;}
}
.list-anchor-link {
  padding-bottom: 10px;
  border-bottom: 1px solid $gray-border;
  .list-anchor-link__item {
    font-size: em(16);
    font-weight: 300;
  }
  .scroll-target {
    color: $dark-2;
    &:hover {
      color: $brand-primary;
    }
  }
  .list-anchor-link__item-last {
    float: right;
  }
}

.payment-info {
  margin-bottom: 20px;
  .payment-info__inner {
    background: $light-blue;
    padding: 20px;
  }
  .payment-info__table {
    width: 100%;
    td {
      padding: 5px;
      &:first-child {
        color: $dark-2;
      }
    }
  }
  .payment-info__footer {
    margin-top: 20px;
  }
}
.page-404 {
  padding: 20px;
  .page-404__img {
    margin: 30px auto;
  }
  .page-404__btn {
    padding-left: 30px;
    padding-right: 30px;
  }
}
.list-page {
  font-size: em(16);
  background: $light-blue;
  .list-page__header {
    padding: 10px 20px;
    color: $brand-primary;
    font-weight: 700;
    text-transform: uppercase;
  }
  .list-page__item {
    display: block;
    padding: 10px 20px;
    border-top: 1px solid $gray-border;
    color: $dark-2;
    &:hover {color: $brand-primary;}
    &.active {
      color: $dark;
    }
  }
}
.category-sidebar {
  .category-sidebar__body {
    margin-bottom: 20px;
  }
}
.order-item {
  margin-bottom: 20px;
  border-bottom: 1px solid $gray-border;
  .order-item__title {
    display: block;
    color: $dark;
    font-weight: 700;
    &:hover {color: $brand-primary}
  }
  .order-item__thumb {
    margin-bottom: 20px;
  }
  .order-item__vender {
    color: $dark;
    &:hover {color: $brand-primary}
  }
}
.share-menu-premium-shop {
  position: fixed;
  top: 20%;
  right: 20px;
  border: 1px solid $gray-border;
  z-index: 9;
  .share-menu-premium-shop__item {
    border-bottom: 1px solid $gray-border;
  }
  .share-menu-premium-shop__item:last-child {
    border-width: 0
  }
  .share-menu-premium-shop__link {
    display: block;
    @include size(50px);
    background: $white;
    color: $dark;
    font-size: em(24);
    text-align: center;
    line-height: 50px;
    &:hover {
      color: $brand-primary;
    }
  }
}
.calendar-item {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba($gray-border, .5);
  background: transparent;
  transition: background .3s ease-out;
  &:hover,
  &.active {
    background: rgba($brand-primary, .4);
  }
  .calendar-item__time {
    padding: 10px;
  }
  .calendar-item__title {
    font-weight: 700;
    text-transform: uppercase;
  }
}
.calendar {
  padding: 20px 0;
}
.register-form {
  .register-form__block-showhide {
    display: none;
    &.active {
      display: block;
    }
  }
  .register-form__inner {
    // padding: 20px;
    // background: $white;
  }
  .register-form__heading {
    color: $dark;
    font-size: em(28);
  }
  .register-form__desc {
    margin-bottom: 5px;
  }
}
.check-form {
  margin-bottom: 20px;
  box-shadow: 0px 0px 18px 0px rgba(0, 1, 1, 0.2);
  .check-form__inner {
    padding: 20px 20px 0 20px;
  }
  .check-form__notication {
    padding: 10px 20px;
    background: $light-blue;
  }
}
.list-gift {
  margin-bottom: 20px;
  .swiper-slide {
    background: transparent;
  }
}
.button-mobile-fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  border-bottom: 5px solid darken($brand-primary, 10%);
  padding-top: 10px;
  background: $brand-primary;
  color: $white;
  text-align: center;
  z-index: 9;
  .icon {
    font-size: em(32);
  }
  .button-mobile-fixed__text {
    display: inline-block;
    margin-left: 10px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: left;
  }
}
.banner-block {
  position: relative;
  .banner-block__btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    animation: bing-bing 2s infinite;
  }
}
@keyframes bing-bing {
  0% {
    opacity: .1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: .1;
  }
}

.news-block {
  border-top: 5px solid $brand-primary;
}
.top-tool-block {
  padding-top: 60px;
  min-height: 200px;
  background: url(../images/bgd-top-tool.jpg) no-repeat;
  background-size: cover;
  .top-tool-block__form {
    margin-top: 50px;
  }
  .title {color: $white;}
  .top-tool-block__icon {
    margin-right: 10px;
    font-size: em(36);
  }
}
.shop {
  width: 100%;
  margin-bottom: 20px;
  color: #594a42;
  &--title {
    color: #594a42;
    font-weight: 700;
  }
  &--img {
    width: 185px;
    padding-right: 15px;
  }
  .vab {
    vertical-align: bottom;
    .btn-block {margin-bottom: 0;}
  }
  .vat {
    vertical-align: top;
  }
}
