.sidebar {
    background-color: $blue;
    color: white;
    position: absolute; 
    top: 50px;
    min-width: 250px;
    left: 0;
    height: 100%;
    font-size: 16px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    // padding-left: 10px;

    .sidebar__link{
        padding: 5px 0px 5px 5px;
        border-bottom: 1px solid white;
        
    }

    .active {
        background-color: #41c8ff;
    }
}

.sidebar-deactive{
    left: -100%;
}

.sidebar__link > a {
    color: white;
    position: relative;
    display: block;
    text-decoration: none;
}

.sidebar__submenu {
    .sidebar__submenu__link{
        padding: 5px 0px 5px 5px;
    }

    .sidebar__submenu__link > a{
        color: white;
        text-decoration: none;
        display: block;
        }
}

.sidebar__link > a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
    top: 5px;
}

.sidebar__link:hover,.sidebar__submenu__link:hover{
    background: #41c8ff;
} 
.sidebar__link > a:hover,.sidebar__submenu__link > a:hover, .sidebar__link > a:focus,.sidebar__submenu__link > a:focus{
    text-decoration: none;
} 

@media (max-width:991px){
    .sidebar {
        left: -100%;
    }

    .sidebar-deactive{
        left: 0;
    }
}