
.home-page {
  background: url(../images/img-wrap-bg-01.png) repeat-x #e0eee3;
}

.wrapper {
  // background: url(../images/img-footer-bg.png) no-repeat;
  background-size: contain;
  background-position: bottom center;
  overflow: hidden;
  position: relative;
  .bottom-bg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 0;
    img { width: 100%; }
  }
}

.top-nav {
  background: #6abe7d;
  border-bottom: 1px solid #128460;
  padding: 10px 0 0; 
  .event-name {
    margin-top: -7px;
    margin-bottom: 5px;
    img {
      width: 388px;
    }
  }
}

.register-form__block-showhide h3 {
  font-family: ProximaBold,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.cover-block .cover-block__img-key .cover-block__content .fs24{
  font-family: ProximaBold,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.cover-block .cover-block__img-key .cover-block__content .fs18 {
  font-family: ProximaRegular,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 23px;
}

.cover-block .cover-block__img-key .cover-block__content .fs16 {
  font-family: ProximaRegular,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 18px;
}

.scroll-target {
  margin-top: -4px;
  background: #f5ae18;
  border: none;
}
/** Form **/

.form-group__note {
  font-weight: bold;
  font-family: ProximaBold,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.scroll-target.btn.pull-right.show-on-scroll {
  span { color: #333; }
}

.register-form .form-control {
  color: #fff !important;
}

.head-manulife {
  h3 {
    font-size: 16px;
    font-weight: lighter;
    margin: 0;
    margin-bottom: 10px;
  }
}

.manulife {
  margin: 5px 0px 0px 14px;
}

.head-manulife {
  font-size: 12px;
  margin: 0;
}

.show-hide-form {
  color: #FFC107;
  text-shadow: 1px 2px 2px #312c2c;
  &:hover {
    color: #9c9898;
  }
}

.cover-block__inner {
  background-size: cover; 
  background-position: center;
  margin: 40px 0 0;
  // padding: 40px 0 0;
}

.cover-block .cover-block__img-key {
  position: relative;
    display: block;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    .cover-block__content {
      position: absolute;
      bottom: 10px;
      right: 0;
      color: #007fad;
      line-height: 20px;
      .fs24{
        margin-bottom: 5px;
        font-size: 1.7142857143em;
      }
      .fs18 {
        font-size: 1.2857142857em;
      }
      .fs16 {
        font-size: 1.1428571429em;
    }
  }
}

.slider-magic {
  .img-magic-02,
  .img-magic-03,
  .img-magic-05,
  .img-magic-06,
   {
    width: 75% !important;
    margin: 0 auto;
  }
  .img-magic-04 {
    width: 65% !important;
    margin: 0 auto;
  }
}

.block-activities {
  margin-top: 80px;
  .wrapper-box {
    ul {
      padding: 0;
      margin: 0;
    }
    li {
      list-style: none;
      margin: 0;
    }
    li:nth-child(odd) {
      margin-top: 0;
      margin-bottom: 0;
    }
    
    li:nth-child(3n-1) {
      margin-top: -20px;
      margin-bottom: 20px;
    }
  }
  
  .box-active.box-active__hover {
    .box-content {
      display: block;
    }
  }

  .box-active {
    padding: 2px;
    margin: 10px;
    overflow: hidden;
    position: relative;
    display: block;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .box-actived {
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
    .box-content {
      display: block;
      top: 0;
      height: 60%;
    }
  }
  .box-title {
    margin: 0;
    background: url(../images/event/img-active-head-bg.png) no-repeat;
    background-size: cover;
    width: 100%;
    height: 100px;
    text-align: center;
    line-height: 90px;
    font-family: 'ObelixProTB', serif;
    font-weight: normal;
    font-style: normal;
    letter-spacing: 1px;
    color: #1f8070;
    position: absolute;
    top: -2px;
    left: -2px;
  }
  .box-content {
    display: none;
    background: url(../images/event/img-active-bg.png) no-repeat;
    background-size: cover;
    position: absolute;
    top: -50%;
    left: 0;
    width: 100%;
    height: 100px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .box-head {
    padding-top: 20px;
    text-align: center;
    font-size: 24px;
    font-family: 'ObelixProTB', serif;
    font-weight: normal;
    font-style: normal;
    letter-spacing: 3px;
    color: #1f8070;
    text-align: center;
  }
  .box-text {
    padding: 5px 25px;
  }
}

.block-game {
  margin-top: 70px;
}

.footer {
  margin-top: 150px;
  position: relative;
  z-index: 1;
  // top: 555px;
}

/** intro **/

.head-intro {
  position: relative;
  margin-top: 80px;
  color: #005f90;
  font-size: 22px;
  font-weight: bold;
}

.cover-block__inner {
  .key-surf__intro{
    position: absolute;
    z-index: 0;
    width: 100%;
    text-align: center;
    top: -140px;
    left: 0;
  }
}

.tgpt-intro {
  position: relative;
  z-index: 1;
}

.head-intro__left {
  float: left;
  position: absolute;
  z-index: 1;
}

.tgpt-intro {
  img {
    width: 600px;
  }
}

.intro-video {
  margin: 20px 0;
}

.img-intro__content {
  margin-top: 60px;
}

.intro-text__bt {
  margin-top: 40px;
  p { font-size: 18px; }
  .btn {
    background: #f5ae18;
    border: none;
    &:hover {
      background: #005f90;
    }
  }
}

.block-intro {
  background-repeat: no-repeat;
  .inner-intro {
    background-color: #fff; 
    margin: 0 90px;
    // padding: 125px 20px 70px;
    box-shadow: 4px 7px 25px 2px #999;
    -webkit-border-radius: 6px;
    border-radius: 6px;

  }
  .inner-intro .col-sm-offset-1{
    border-radius: 6px;
    -webkit-border-radius: 6px;
    box-shadow: 1px 2px 2px 2px #333;
  }
}

.back-to-top {
  background: #128460;
  // bottom: 
  &:focus {
    color: white;
  }
  &:hover {
    color: white;
    opacity: 0.7;
  }
}

/** Mobile **/

@media (max-width: $screen-sm-max) {
  .countdown {
    margin: 0;
  }
  .top-nav {
  background: #6abe7d;
  border-bottom: 1px solid #128460;
  .event-name {
    img {
        width: 100%;
      }
    }
  }
  .main-nav {
    background-image: none;
  }
  
  .show-hide-form {
    color: #005f90;
    text-shadow: none;
    font-family: ProximaBold,"Helvetica Neue",Helvetica,Arial,sans-serif;
  }

  .cover-block .cover-block__inner {
    padding: 0;
    margin: 0;
  }

  .xxx {
    margin-top: 80px;
  }
  .xxx .content-btn {
    left: 10px;
    top: -40px;
  }
  .xxx .content .desc {
    font-size: 16px;
  }
  .xxx .content .value-xxx {
    font-size: 20px;
  }
  
  .xxx .btn-xxx {
    margin: 0;
  }

  .xxx .btn-xxx span:nth-child(1) {
    right: -35px;
    img {
      width: 20px;
    }
  }

  .xxx .btn-xxx span:nth-child(2) {
    right: -25px;
    top: -36px;

    img {
      width: 50px;
    }
  }

  .block-game {
    margin-top: 25px;
    .title {
      margin-top: 20px;
      margin-bottom: 5px;
    }
  }

  .title {
    background-size: contain;
    font-size: 15px;
    line-height: 38px;
    margin-bottom: 30px;
    .title-icon {
      top: -21px;
    left: -10px;
    width: 90px;
    }
  }
  
  .slider-magic {
    padding: 0;
    .col-sm-7 {
      div { margin-top: 20px; }
    }
  }
  
  .block-slider .owl-carousel .owl-nav button.owl-prev { left: 0!important; }
  .block-slider .owl-next { right: 0!important; }

  .block-slider .owl-next, .block-slider .owl-prev {
    top: 65%;
  }

  .block-slider .owl-carousel .owl-nav button.owl-next .ion-ios-arrow-right,
  .block-slider .owl-carousel .owl-nav button.owl-prev .ion-ios-arrow-left {
    top: 0;
    color: $white;
  }

  #carousel-custom-dots {
    margin-bottom: 20px;
  }

  #carousel-custom-dots li {
    margin-right: 3px;
    button  img{
      width: 25px !important;
    }
  }
  .slider-magic__content .slider-magic__title {
    font-size: 30px;
    margin-top: 5px;
  }

  .block-slider .owl-carousel .owl-nav button.owl-next, 
  .block-slider .owl-carousel .owl-nav button.owl-prev {
    width: 30px;
    height: 30px;
    font-size: 20px;
    line-height: 32px;
  }

  .block-activities .box-active {
    margin: 0;
    padding: 0 1px;
  }
  .block-activities .wrapper-box li:nth-child(3n-1) {
    margin: 0 0 20px 0;
  }
  .block-activities .box-active {
    margin-bottom: 20px;
  }
  
  .space-pc-sp {
    margin: 40px 0 20px;
  }

  .block-activities .wrapper-box li {
    padding: 0;
  }
  
  .news-block__inner .news-block__short-decription {
    margin-bottom: 15px;
  }

  .block-intro {
    .inner-intro {
      background-color: #fff; 
      margin: 0 20px;
      box-shadow: 4px 7px 25px 2px #999;
      -webkit-border-radius: 6px;
      border-radius: 6px;

    }
  }
  .head-intro {
    margin-top: 20px;
  }
  
  .cover-clound { padding: 25px 0; }

  .head-intro__left {
    float: inherit;
    position: absolute;
    z-index: 3;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    top: -68px;
    img { width: 100px; }
  }

  .block-activities {
    margin-top: 30px;
  }

  .footer {
    margin-top: 40px;
    background: #93857b;
    margin-top: -22px;
    padding-bottom: 65px;
  }

  .back-to-top {
    background: transparent;
    bottom: 9px;
  }
  
}
